@import url('https://fonts.googleapis.com/css2?family=Khand&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Khand', sans-serif;

}

.header {
    /* border: 1px solid red; */
    width: 100%;
    /* height: 80px; */
    border-bottom: 1px solid black;
    background-color: white;
  


}

.navbar {
    border-bottom: 1px solid rgb(229, 229, 229);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    background-color: white;
    margin: auto;
    position: fixed;

}

.left-nav {
    /* border: 1px solid green; */
    width: 55%;
    height: 55px;
    align-items: center;
    display: flex;
    justify-content:space-around;
    align-items: center;

}

.right-nav {
    /* border: 1px solid green; */
    width: 20%;
    height: 55px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.hamburger {
    /* border: 1px solid orange; */
    width: 4%;
    height: 20px;
    text-align: center;
    font-size: 18px;

}

.hamburger>i:hover {
    color: #2f6697;

}

.logo {
    height: 50px;
    width: 20%;
}

.logo>img {
    height: 100%;
    width: 100%;
}

.menu {
    /* border: 1px solid red; */
    width: 70%;

}

.menu>ul>li:nth-child(8) {
    display: none;

}

.more-opt {
    border: none;
    font-family: 'Khand', sans-serif;
    font-weight: bold;
    outline: none;
}

.menu-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    align-items: center;
}

.menu>ul>li:hover {
    color: #2f6697;
    text-decoration: underline;
}

/* .sign-in {
    border: 1px solid blue;
} */

.sign-in>a {
    text-decoration: none;
    color: black;
}

.sign-in>a:hover {
    color: #2f6697;
    text-decoration: underline;
}

/* .subscribe {
    border-left: 2px solid gray;


} */

.subscribe>a {
    text-decoration: none;
    padding: 3px 8px;
    background-color: #2f6697;
    color: white;

}

.search {
    /* border: 1px solid blue; */
    font-size: 16px;
}

.search>i:hover {
    color: #2f6697;

}

        /* main content css */


.content-wrapper{
    width: 90%;
    margin:  100px auto;
    border: 2px solid black;
}
.fist-section{
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;

}
.left{
    width: 75%;
    /* border-top: 2px solid black; */
    padding-right: 14px;
}
.right{
    width: 25%;
    border-left: 1px solid lightgrey;
    padding-left: 14px;
    /* border-top: 2px solid black; */


}
.todays-picks{
    width: 100%;
    color: white;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.4px;
    margin-bottom: 18px;
    border-top: 2px solid black;

}
.todays-picks>h3{
    width: 14%;
    background-color: black;

}
.most-recent{
    width: 100%;
    color: white;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.4px;
    margin-bottom: 18px;
    border-top: 2px solid black;

}
.most-recent>h3{
    width: 38%;
    background-color: black;

}

.main-content{
    /* border: 2px solid orange; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.left-first{
    width: 33%;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    height: 100%;
}
.left-second{
    width: 65%;
    /* border: 1px solid blue; */
    height: 100%;

}
.left-first-top{
    width: 100%;
    border-bottom: 1px solid lightgray;
    margin-bottom: 18px;
}
.left-first-second{
    width: 100%;
    /* border: 1px solid palegreen; */
}
.left-first-top-img{
    width: 100%;
    /* height: 150px; */
}
.left-first-top-img>img{
    width: 100%;
    /* height: 100%; */
}
.left-first-top-info{
    line-height: 22px;
    padding: 20px 0px;
}
.sm-heading{
    line-height: 1em;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 3px;
    color: black;
    word-spacing: 6px;
    text-transform: uppercase;
}
.main-heading{
    font-size: 21px;
    font-family: Apercu, helvetica, sans-serif;
    letter-spacing: 0.2px;
    margin: 10px 0px 16px 0px;
    line-height:26px ;
}
.bottom-heading{
    line-height: 1em;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.7px;
    text-transform: uppercase;
    color: black;

}
.left-second-img{
    width: 100%;
    /* height: 300px; */
}
.left-second-img>img{
    width: 100%;
    /* height: 100%; */
}
.left-second-info{
    padding-top: 12px;
}
.left-second-info>h1{
    text-transform: uppercase;
    font-weight:900;
    font-size: 44px;
    line-height: 1;
    margin: 10px 0px 16px 0px;
    letter-spacing: 0.5px;
}
.left-second-info>p{
    font-size: 15px;
    line-height: 20px;
    color: rgb(51, 51, 51);
    padding: 10px 0px 10px 0px;
    font-family: BreveText, helvetica, sans-serif;

}

.right-main{
    width: 100%;
    /* border: 2px solid palevioletred; */
    

}
.right-divs{
    width: 100%;
    border-bottom: 1px solid lightgrey;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom:10px;
    padding-top: 10px;
   
}
.news-heading{
    /* border: 1px solid blue; */
    width: 64%;
}
.news-img{
    width: 30%;
    /* height: 80px; */
    padding: 5px;
}
.news-img>img{
    width: 100%;
    /* height: 100%; */
}
.news-head{
    font-family: Apercu, helvetica, sans-serif;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.2px;
    padding-bottom: 12px;

}
.news-heading>P{
    line-height: 16px;
}


            /* section 2 */

.trading-stories{
    display: flex;
    width: 100%;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    margin-bottom: 18px;
    border-top: 2px solid black;


}
.trading-stories>h3:nth-child(1){
    width: 14%;
    background-color: black;
    border: 1px solid yellow;
    padding: 2px 8px;
    /* text-align: center; */
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;


}
.trading-stories>h3:nth-child(2){
    width: 24%;
    border: 1px solid yellow;
    padding: 2px 8px;
    /* text-align: center; */
    color: black;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;

}








































